################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IDPL/.vs
/IDPL/obj
/IDPL.Business/.vs
/IDPL.Business/obj
/IDPL.Entity/.vs
/IDPL.Entity/obj
/IDPL.Resource/.vs
/IDPL.Resource/obj
/IDPL.Utility/.vs
/IDPL.Utility/obj
/IDPL/bin/Debug/net6.0
/IDPL.Business/bin/Debug/net6.0
/IDPL.Entity/bin/Debug/net6.0
/IDPL.Resources/bin/Debug
/IDPL.Resources/obj/Debug
/IDPL.Utility/bin/Debug/net6.0
/IDPL.Resource/bin/Debug/net6.0/IDPL.Resources.deps.json
/IDPL.Resource/bin/Debug/net6.0/IDPL.Resources.dll
/IDPL.Resource/bin/Debug/net6.0/IDPL.Resources.pdb
